
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000;
}

.eye-container {
  display: flex;
  justify-content: space-around;
  width: 320px;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 20%; 
  background-color: #000; 
  z-index: 2; 
}

.eye {
  width: 140px;
  height: 140px;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease, transform 0.3s ease;
}


.eye.angry {
  background-color: #f00; 
}


.eye::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 90%;
  background-color: #000;
  top: -50%;
  border-radius: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}


.left-eye.black-eyelids::before {
  opacity: 1;
  height: 80%;
  width: 200%;
  top: -5%;
  left: -10%;
  transform: rotate(20deg);
  border-radius: 0; 
}

.right-eye.black-eyelids::before {
  opacity: 1;
  height: 80%;
  width: 290px;
  top: -70%;
  left: -20%;
  transform: rotate(-20deg);
  border-radius: 0; 
}


@keyframes blink {
  0%, 17%, 34%, 51%, 68%, 100% { height: 140px; } 

  
  8%, 12% { height: 20px; } 


  75%, 79% { height: 20px; } 
  82%, 86% { height: 20px; } 
}


.eye.blinking:not(.resting) {
  animation: blink 4s infinite;
}




.input-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  display: flex;
  justify-content: center;
  z-index: 10;
}

#commandInput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #222;
  color: #fff;
  outline: none;
}
